# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.cache

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio and .NET specific folders
/bin/
/obj/
/Debug/
/.vs/
/*.vs/
/*.suo
/*.idb
/*.pdb
*.user
*.suo
*.suo.lock

# .NET Core/ASP.NET Core bin and obj folders
/**/*.bin/
/**/*.obj/
/**/*.dll/
/**/*.exe/
/**/*.json/
/**/*.xml/
/**/*.csproj.nuget.g.props
/**/*.csproj.nuget.dgspec.json
/**/*.csproj.nuget.g.targets
/**/*.deps.json
/**/*.runtimeconfig.json
/**/*.GeneratedMSBuildEditorConfig.editorconfig
/**/*.AssemblyReference.cache
/**/*.assets.cache
/**/*.project.assets.json
/**/*.nuget.cache
/**/*.FileListAbsolute.txt

# Docker and container-related folders
/**/*.Docker/
/obj/Docker/
/Docker/
/*.dockerignore

# Other project-specific folders (modify as needed)
/ATSPMf/
/ATSPM/
/InsertArchiveLogs/
/ConfigApi/
/WatchDog/
/MOE.Common/
/AnalysisReport.sarif/
/upgrade-assistant.clef/

/ATSPM/bin/Debug/SignalControllerLogger.runtimeconfig.json
/ConfigApi/bin/Debug/net7.0/ATSPM.ConfigApi.deps.json
/ConfigApi/bin/Debug/net7.0
/ConfigApi/obj/project.assets.json
/ConfigApi/obj/project.nuget.cache
/ATSPM/ReportsTests/obj/ReportsTests.csproj.nuget.g.targets
/ATSPM/ReportsTests/bin/Debug/net6.0/appsettings.Development.json
/ATSPM/ReportsTests/bin/Debug/net6.0/appsettings.json
/ConfigApi/obj/Debug/net7.0/ConfigApi.csproj.CoreCompileInputs.cache
/ConfigApi/obj/Debug/net7.0/ConfigApi.csproj.FileListAbsolute.txt
/ConfigApi/obj/Debug/net7.0/ConfigApi.GeneratedMSBuildEditorConfig.editorconfig
/ConfigApi/obj/Debug/net7.0/ConfigApi.genruntimeconfig.cache
/ConfigApi/obj/Release/net7.0/ConfigApi.GeneratedMSBuildEditorConfig.editorconfig
/ConfigApi/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/ConfigApi/obj/Release/net7.0/ConfigApi.AssemblyInfo.cs
/ConfigApi/obj/Release/net7.0/ConfigApi.GlobalUsings.g.cs
/WatchDog/bin/Debug/net6.0
/WatchDog/obj
/WatchDogTests/bin/Debug/net6.0
/WatchDogTests/obj
