# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/ATSPMf/.vs/ATSPMf/v16
/.vs
/ATSPM/.vs
/ATSPM/ApplicationCore/obj
/ATSPM/ApplicationCore/bin
/ATSPM/DomainCore/obj
/ATSPM/DomainCore/bin
/ATSPM/DomainCoreTests/obj
/ATSPM/DomainCoreTests/bin
/ATSPM/Infrastructure/obj
/ATSPM/Infrastructure/bin
/ATSPM/InfrastructureTests/obj
/ATSPM/InfrastructureTests/bin
/ATSPM/SignalControllerLogger/obj
/ATSPM/SignalControllerLogger/bin
/ATSPM/DataApi/obj
/ATSPM/DataApi/bin
/ATSPM/ReportAPI/obj
/ATSPM/ReportAPI/bin
/ATSPM/Web/obj
/ATSPM/Web/bin
/ATSPM/Data/obj
/ATSPM/Data/bin
/ATSPM/EventLogUtility/obj
/ATSPM/EventLogUtility/bin
/ATSPM/obj/Docker
