# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.cache

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/bin
/obj
/Debug
/ATSPMf/.vs/ATSPMf/v16
/.vs
/ATSPM/.vs
/ATSPM/ApplicationCoreTests/obj
/ATSPM/ApplicationCoreTests/bin
/ATSPM/ApplicationCore/obj
/ATSPM/ApplicationCore/bin/
/ATSPM/ATSPM.Application.Business/obj
/ATSPM/ATSPM.Application.Business/bin
/ATSPM/ATSPM.Application.IRepositories/bin
/ATSPM/ATSPM.Application.IRepositories/obj
/ATSPM/ATSPM.Application.Reports/bin
/ATSPM/ATSPM.Application.Reports/obj
/ATSPM/ATSPM.Application.ReportsTests/bin
/ATSPM/ATSPM.Application.ReportsTests/obj
/ATSPM/ATSPM.Infrastructure.Repositories.EntityFramework/bin
/ATSPM/ATSPM.Infrastructure.Repositories.EntityFramework/obj
/ATSPM/DomainCore/obj
/ATSPM/DomainCore/bin
/ATSPM/DomainCoreTests/obj
/ATSPM/DomainCoreTests/bin
/ATSPM/Infrastructure/obj
/ATSPM/Infrastructure/bin
/ATSPM/InfrastructureTexts/obj
/ATSPM/InfrastructureTexts/bin
/ATSPM/SignalControllerLogger/obj
/ATSPM/SignalControllerLogger/bin
/ATSPM/Data/obj
/ATSPM/Web/obj/Container
/ATSPM/ReportAPI/obj/Container
/ATSPM/DataAPI/obj/Container
/ATSPM/ATSPM.Application.Business/bin/Debug/net6.0
/ATSPM/Web/obj
/ATSPM/Web/bin/Debug/net6.0
/ATSPM/ReportAPI/bin/Debug/net6.0
/ATSPM/DataAPI/bin/Debug/net6.0
/ATSPM/DataAPI/obj
/ATSPM/ReportAPI/obj/Debug/net6.0
/ATSPM/ReportAPI/obj
/ATSPM/MOE.Common/bin
/ATSPM/MOE.Common/obj
/ATSPM/MOE.Common/ClassDiagram1.cd
/ATSPM/MOE.Common/ClassDiagram2.cd
/ATSPM/MOE.Common/ClassDiagram3.cd
/ATSPM/MOE.Common.backup/bin
/ATSPM/AnalysisReport.sarif
/ATSPM/upgrade-assistant.clef
