x-environment: &default-environment
  ASPNETCORE_ENVIRONMENT: Development
  ASPNETCORE_Kestrel__Certificates__Default__Password: password
  ASPNETCORE_Kestrel__Certificates__Default__Path: /root/.aspnet/https/aspnetapp.pfx
  ConnectionStrings__ConfigContext__ConnectionString: "Host=postgres;Port=5432;Username=admin;Password=Avenue.2006;Database=ATSPM-Config-V2;Pooling=true;"
  ConnectionStrings__AggregationContext__ConnectionString: "Host=postgres;Port=5432;Username=admin;Password=Avenue.2006;Database=ATSPM-Aggregation-V1;Pooling=true;"
  ConnectionStrings__EventLogContext__ConnectionString: "Host=postgres;Port=5432;Username=admin;Password=Avenue.2006;Database=ATSPM-EventLogs-V1;Pooling=true;"
  ConnectionStrings__IdentityContext__ConnectionString: "Host=postgres;Port=5432;Username=admin;Password=Avenue.2006;Database=ATSPM-Identity;Pooling=true;"
  ConnectionStrings__ConfigContext__Provider: "PostgreSQL"
  ConnectionStrings__AggregationContext__Provider: "PostgreSQL"
  ConnectionStrings__EventLogContext__Provider: "PostgreSQL"
  ConnectionStrings__IdentityContext__Provider: "PostgreSQL"
  Jwt__ExpireDays: "1"
  Jwt__Key: "ATSPMProductionIdentityOpenSource2024"
  Jwt__Issuer: "AvenueConsultants"

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Avenue.2006
      POSTGRES_DB: ATSPM-Config-V2
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./PostgreSQLDatabaseProvider/Migrations/Aggregation/Migrations.sql:/docker-entrypoint-initdb.d/1-aggregation.sql
      - ./PostgreSQLDatabaseProvider/Migrations/Config/Migrations.sql:/docker-entrypoint-initdb.d/2-config.sql
      - ./PostgreSQLDatabaseProvider/Migrations/EventLog/Migrations.sql:/docker-entrypoint-initdb.d/3-eventlog.sql
      - ./PostgreSQLDatabaseProvider/Migrations/Identity/Migrations.sql:/docker-entrypoint-initdb.d/4-identity.sql
    ports:
      - "5432:5432"

  webui:
    build:
      context: .
      dockerfile: WebUI/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  configapi:
    build:
      context: .
      dockerfile: ConfigApi/Dockerfile
    ports:
      - "44313:44313"
    environment:
      <<: *default-environment
      ASPNETCORE_URLS: https://+:44313
    volumes:
      - aspnet_https:/root/.aspnet/https:ro
    user: root
    depends_on:
      - postgres

  dataapi:
    build:
      context: .
      dockerfile: DataApi/Dockerfile
    ports:
      - "8082:80"
    environment:
      <<: *default-environment
    depends_on:
      - postgres

  watchdog:
    build:
      context: .
      dockerfile: WatchDog/Dockerfile
    ports:
      - "8084:80"
    environment:
      <<: *default-environment
    depends_on:
      - postgres

  reportapi:
    build:
      context: .
      dockerfile: ReportApi/Dockerfile
    ports:
      - "8085:80"
    environment:
      <<: *default-environment
    depends_on:
      - postgres

  identityapi:
    build:
      context: .
      dockerfile: Identity/Dockerfile
    ports:
      - "8086:80"
    environment:
      <<: *default-environment
    depends_on:
      - postgres

volumes:
  postgres_data:
  aspnet_https:
