
services:
  device-emulator:
    build:
      context: .
      dockerfile: DeviceEmulator/Dockerfile
    networks:
      - custom_net
    container_name: device-emulator
    ports:
      - "8080:80"
    volumes:
      - ftp_data:/files   #  Named volume instead of local folder
      - sftp_data:/data
      - ./DeviceEmulator/devices.json:/app/config/devices.json:ro
    environment:
      DEVICE_CONFIG_PATH: "/app/config/devices.json"
      LOG_INTERVAL_MINUTES: 1
    restart: unless-stopped

  ftp-server:
    image: stilliard/pure-ftpd:hardened
    networks:
      custom_net:
        ipv4_address: 172.18.0.10
    ports:
      - "21:21"
      - "30000-30109:30000-30109"
    environment:
      PUBLICHOST: "172.18.0.10"
      FTP_USER_NAME: "ftpuser"
      FTP_USER_PASS: "password"
      FTP_USER_HOME: "/home/ftpuser"      
      FTP_USER_UID: 1000
      FTP_USER_GID: 1000
      ADDED_FLAGS: "-c 100 -C 100 -d -E -p 30000:30109"
    volumes:
      - ftp_data:/home/ftpuser/files:rw 
    restart: unless-stopped

        

  sftp-server:
    image: atmoz/sftp
    networks:
      custom_net:
        ipv4_address: 172.18.0.11
    ports:
      - "22:22"
    volumes:
      - sftp_data:/home/sftpuser/data:rw  #  Access shared logs
    command: sftpuser:password:1001
    entrypoint: >
        sh -c "chown -R 1001:1001 /home/sftpuser/data &&
               exec /entrypoint sftpuser:password:1001"
    restart: unless-stopped

volumes:
  ftp_data:
  sftp_data:
