################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/obj
/.vs/Data ETL/FileContentIndex
/.vs
/bin/Release/net6.0
/bin/Debug/net7.0
/bin/Debug/ATSPM Impoter.zip
