name: Deploy to Cloud Run from Source For config api

on:
  push:
    branches: 
      - Avenue_Staging
    paths:
      - 'ATSPM/ConfigApi/**'
env:
  GCP_PROJECT_ID: "atspm-406601"
  
jobs:
  setup-build-deploy:
    name: Setup, Build, and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Decode GCP service account key
        run: |
          echo "${{ env.GCP_SA_KEY }}" | base64 --decode > $HOME/credentials.json
          echo "GCP_SA_KEY_JSON=$HOME/credentials.json" >> $GITHUB_ENV
        env:
          GCP_SA_KEY: "ewogICJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsCiAgInByb2plY3RfaWQiOiAiYXRzcG0tNDA2NjAxIiwKICAicHJpdmF0ZV9rZXlfaWQiOiAiZmIxMDhiZjE5NGE5MDNmMDQ5ZGE2ZDQyODhmODIwYmY5YTcxZjJmMSIsCiAgInByaXZhdGVfa2V5IjogIi0tLS0tQkVHSU4gUFJJVkFURSBLRVktLS0tLVxuTUlJRXZRSUJBREFOQmdrcWhraUc5dzBCQVFFRkFBU0NCS2N3Z2dTakFnRUFBb0lCQVFDV3VlRi8zeFFYbnlWSlxueE1ndllTaGowV0JDK2VFcitEeGxyZkJHQ0tmczRqenZiYkN5bVYrMk5BSllUQm8vNWcxUCtQQ2FHOGV3WUtiaVxuajBJYVhUdGhtUVFJWkRDa2g5RkpTRWtuRU44QzJSeVNJcGJJZHdyTDhTRlp1WllCWGVuVHprbFZRUUlqMGFMSlxuV1JsdkJacis5NVRLeGdEY2djMFl6bWtjQXBxNnA3SzUzOWEvditSS05tV2Erb1VNTi8xMlJZZ01zZFR0VURTSVxuWW41elZkOVI3ZHRNWmpXS0dXNXdTdkFBWEc2NlN4cDI0MEJEZ0RoT1pqdytiU0lFYUlkWE80eUxvbWFWOEhWUFxub2J0Z0tGTzY0YkVhQ2owL3BYUG1CbzMyaGVNdkhTclk2ckJYM3IyZC8rN0hPVFVMa0NseVN0ZEhjMVdLVEtpV1xuek5TUGFwaGxBZ01CQUFFQ2dnRUFGRHl3WDNJVStVZnpvbmd5bFpQeXI1WkMyYk5Cclp6bWhSTnB6WWxuZklseVxudTRYcmdjdFFlNzczYXFJTEt6V281Mm9wNmRNZGlGdXR4SUVPRThxZFNMRWFCc05tK1l4SHlCSlZ5aEk4a3g0UlxuOVRnQ0xUZTRnaUhsdzYyRWk3bnZoWEh1ekN6T2kvOGZYMi9nVjVUMTF0Sm9qcUl2cHV1aG5UbEhpUXg3ZUdDTFxuZ0ZoNzlJRHowVkU0MWg2WkRMLzVuNG1uNVBUaW9YWmFva1BZREw3U2F6U3BRVEVsSnROR1UxUDFzK3VVREFmQVxuUDlHNU55TUxBdGxNVUVDTFhIOVd3eVlmMmFGbk9DMGhkUkdxZTJwZWJpQ3l0ZVRjV0pFYlNEUnYxQ2pwMGpsNlxudG9sMklEcktLejR1UnhGY1QrZlA1Y2J0Z2d6WDExdjIyZ2tKR28xTlFRS0JnUURIVVJmbm4xVTlhclNScThKeFxuTDRlNVFObkpuaWM0S0FpVlVBcW5WZittcTc3VGlrQ0dPOFNSVXZmNmhtT0JZL2M1NldlTXY4dm9lcmJCSXIvVVxud0NLdHI1QlprNnZwc3RiVkNXZlhMS3pSN3VGbFlVQVNVV0hKYWRkaTd5U3RqdW8wV0VSWFBBY0ZmSzZ4alhQV1xuWkR6dHB4RUM0VXhZRERMYkRCNXQrSVcwUVFLQmdRREJsenFnUXhkaWJpaDhJTUNoTjNzamFhdjRNWVpFaFMvK1xuelk1MkZBbTFTcXpuYk9SV203NXVsZlZ4ejMrdWJVZnJQaEQ2ZUZRZUZKRzhScDJjSXowZk5kZ2EwaW5FOFJ6b1xuNUpQdkdCMy9nbTlPYXVXNkNUTHJlbG91Z292OERhQUhUNDZSRityaFZTeGtURkkrVU5zZ2t3dGI5N1FlUFJOUVxuOHdWTWRDakxKUUtCZ0hMQU1sWU11b09BZ25MM2d4dXM5S1BvUFRyQmplemJ4NDFISnNzT1RRQkZFcmt4ZUZLUFxuNkd5T2F1eFdJTVdtcXZneGM0ZHFDTmhRaGhVTmo0bktFRzBVamJPMHZCM3c4NVIxTk02Q0R3RlNXWHdIa0Y2N1xuY2VRR3hwVlQvemJZOStlcEJiZC9mTDlnK0NhS3ZLMHF5cFU4UVNQNlYveTlFUzVoZk1kdGRIVEJBb0dCQUpRTVxuMjhFRWpqV3dtVFdVdHJ5VWVZK3ptTmpPeHloUDAwekNWMWptS2lhRFhZZi9Od0VsU3BXNENXVm9rdlVLamgzUlxuOFpvYnUvamxNaThTc2laZXJMZlpyZE9WTm14dkdQVGpHbCtYeWhsRjMyblJScTducWhGOEdNdkkrdFZnZGlvaFxuSlo3QTg5Z3dFeXNCVTBSbEFhLy94SWdvLzQ3QWxxMHByYnV5ZWlBaEFvR0FOc3FnNnJmVWh5cXpiTjZnc1NIWVxuWXdzR1Z0U1JBazZtRDlVNXhIMmZWbGVhaGJ0SFRoR2pmWjRXMC9Bc25BWWlmOFk2bG8vSjZudUFhZ1llNHdVVFxuTk9ndXhxQmtnU2Y1OVB6OHFRM2owWjJaVUxxN2gveGdjUEd3OXdUbE9UUitqbTFCZmp2dmo1OUNpMC9yb2RJN1xuSnF3VGEvaWdUS0JWaGZKN29BSjM4U289XG4tLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tXG4iLAogICJjbGllbnRfZW1haWwiOiAiYXRzcG0tOTM0QGF0c3BtLTQwNjYwMS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsCiAgImNsaWVudF9pZCI6ICIxMDI1OTkzMTQ2NDIyMzE5MTgyOTUiLAogICJhdXRoX3VyaSI6ICJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vby9vYXV0aDIvYXV0aCIsCiAgInRva2VuX3VyaSI6ICJodHRwczovL29hdXRoMi5nb29nbGVhcGlzLmNvbS90b2tlbiIsCiAgImF1dGhfcHJvdmlkZXJfeDUwOV9jZXJ0X3VybCI6ICJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjEvY2VydHMiLAogICJjbGllbnRfeDUwOV9jZXJ0X3VybCI6ICJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9yb2JvdC92MS9tZXRhZGF0YS94NTA5L2F0c3BtLTkzNCU0MGF0c3BtLTQwNjYwMS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsCiAgInVuaXZlcnNlX2RvbWFpbiI6ICJnb29nbGVhcGlzLmNvbSIKfQ=="

      - name: Set JSON content as environment variable
        id: set-json
        run: |
          GCP_SA_KEY_CONTENT=$(cat $GCP_SA_KEY_JSON)
          echo "GCP_SA_KEY_CONTENT<<EOF" >> $GITHUB_ENV
          echo "$GCP_SA_KEY_CONTENT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Authenticate gcloud
        uses: google-github-actions/auth@v0.4.0
        with:
          credentials_json: ${{ env.GCP_SA_KEY_CONTENT }}

      - name: Set up Google Cloud Platform
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: 'latest'
          project_id: ${{ env.GCP_PROJECT_ID }}
          service_account_key: ${{ env.GCP_SA_KEY_CONTENT }}
          export_default_credentials: true

      - name: Authenticate Docker to Artifact Registry
        run: |
          gcloud auth configure-docker "us-docker.pkg.dev"

      - name: Check if project directory has changed
        id: check_changes
        run: |
          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q 'ATSPM/ConfigApi'; then
            echo "Project directory has changed."
          else
            echo "No changes in project directory."
            exit 0
          fi

      - name: Debug - List /src directory before build
        run: ls -R /src

      - name: Build and push Docker image to Google Artifact Registry
        if: success()
        run: |
          gcloud auth configure-docker
          docker build -t us-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/atspm/configapi:${{ github.sha }} -f ATSPM/ConfigApi/Dockerfile ATSPM/ConfigApi
          docker push us-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/atspm/configapi:${{ github.sha }}

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: config-api
          region:
            us-west3
            # NOTE: If using a pre-built image, update the image name here
          image: us-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/atspm/configapi:${{ github.sha }}
